$spacer-lg:1rem;
$green:#82b440;
$yellow:#ffc400;
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
nav {
    ul {
    background-color: #222;
    padding:$spacer-lg;
    justify-content: space-between;
    align-items: center;
            a {
                color: #777;
                font-size: $spacer-lg/1.2;
            }
            .brand {
                position: relative;
                right: $spacer-lg*37;
                font-size: $spacer-lg*1.5;
                span {
                    color: $green;
                }
            }
            .leaf-icon {
                width: $spacer-lg*2;
            }
            .remove {
                border-left: 1px solid #333;
                line-height: $spacer-lg*2;
            
            }
            .remove::before {
                content: "x";
                color: white;
                padding: $spacer-lg;
                font-weight: 700;
            }
    }
    button {
        position: absolute;
        top: $spacer-lg;
        right: $spacer-lg*14;
    
        background-color: $green;
        color: white;
        border: 1px solid $green;
        padding: $spacer-lg/2 $spacer-lg*1.5;
        border-radius: 10px;
    }
}
section {
    overflow: auto;
    height: 90vh;
    background-color: rgb(211, 211, 211);
}
header {
    background-color:#222;
    padding:$spacer-lg*2 0 $spacer-lg*3 0;
    border-top: 1px solid black;
    border-bottom: 6px solid $yellow;
    text-align: center;
    h1 {
        font-size: $spacer-lg*4;
        font-weight: 700;
        color: white;
        padding: $spacer-lg;
        vertical-align: baseline;
        span {
            color: $yellow;
        }
    }
    h2 {
        font-size: $spacer-lg;
        font-weight: 600;
        color: white;
    }
    h3 {
        font-size: $spacer-lg;
        color: #777; 
        padding-top: $spacer-lg/2;
        span {
            color: $yellow;
        }
    }
}
main {
    ul {
    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
   align-items: center;
   padding: $spacer-lg*2;
    img {
        width: 250px;
        height: 200px;
        padding: $spacer-lg*3;
    }
    span {
        color: #222;
        font-weight: 700;
        position: relative;
        left: $spacer-lg*6;
        bottom: $spacer-lg;
    }
}
}
.dflex {
    display: flex;
}
.dgrid {
    display: grid; 
    grid-template-columns: 35% 1fr 1fr;  
    grid-template-rows: 20% 1fr 1fr 1fr;
}
